//- interfacetester structure
#interfacetester
    #request-one-button.click-button /addClientToServe
    #request-two-button.click-button /getNodeId
    #request-three-button.click-button /startSession
    #interfacetester-response-display